Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [1]:
ls = [2200,2350,2600,2130,2190]

In [2]:
# In Feb, how many dollars you spent extra compare to January?

print(ls[1]-ls[0])

150

In [3]:
# Find out your total expense in first quarter (first three months) of the year.
tot = 0
for i in range(4):
    tot = tot + ls[i]
print(tot)

9280

In [4]:
# Find out if you spent exactly 2000 dollars in any month
for i in ls:
    if i == 2000:
        print('Yes')

In [5]:
# June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
ls.append(1980)
print(ls)

[2200, 2350, 2600, 2130, 2190, 1980]

In [6]:
# ou returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

for i in range(len(ls)):
    if i == 3:
        ls[i]=ls[i]-200
print(ls)

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.

In [7]:
heros=['spider man','thor','hulk','iron man','captain america']

Using this find out,
1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [8]:
len(heros)

5

In [9]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [10]:
heros.pop()
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [11]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [12]:
# heros.replace(['thor', 'hulk'],'doctor strange')
heros[1:2] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'hulk',
 'black panther',
 'iron man',
 'captain america']

In [13]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'hulk', 'iron man', 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [15]:

[i for i in range(int(input())) if i%2 != 0]

15

[1, 3, 5, 7, 9, 11, 13]